# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debugging
.vscode/
.idea/
.DS_Store

# Build files
dist/
build/
coverage/

# OS-specific files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*.bak

# Cache files
.cache/
.tmp/
.pnpm-debug.log

# PM2 process logs
pm2-log.txt

# IDE-specific files
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml

# Jest testing
/coverage/

# ESLint cache
.eslintcache

# Babel cache
.babelrc
.babelrc.js
.babelrc.json
.babel.config.js
.babel.config.json

# TypeScript
*.tsbuildinfo

# Ignore Yarn files
.yarn-integrity
.yarn-cache/
.pnp.*
